{% extends "dashboard.html" %}
{% block content %}
{% load static %}
<div class="container row d-flex justify-content-center">
    <div class="row text-center">
        <h2>Solicitud procesada con éxito</h2>
        <p>La lista de precios ha sido generada correctamente.</p>
        <p>Orden Nro: {{document}} </p>
        <p>Productos Leídos: {{filas}} </p>
        <p>Productos actualizados: {{actualizados}} </p>
        <p>Items duplicados: {{duplicados}} </p>
        <div>
            <img src="{% static "test/check.png" %}" alt="confirmado", style="width: 120px; height: 100px;">
        </div>
        {% if request.session.duplicados_txt %}
        <div class="mt-3">
            <a href="{% url 'download_duplicados' %}" class="btn btn-outline-success">Descargar duplicados</a>
        </div>
        
        {% endif %}
    </div>

</div>

{% endblock %}