{%load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<style>
body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid {
    background-color: white;
    box-shadow: 3px 5px 3px -1px;
    max-width: 400px;
    border-radius: 0.5rem;

}
#login-title{
     font-size: 1.5rem;
     font-weight: 600;
     
     
}
</style>


<body>
    <div class="container-fluid container-lg ">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-10 text-center", id="login-header">
                <h1 id="login-title"> Inicio de sesión</h1>
                <p>Ingresa tus credenciales por favor</p>
                {%if error%}
                <p style="color: red">{{error}}</p>
                {%endif%}
            </div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-10 mb-4">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3 text-start">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                </form>
        </div>
    </div>
</body>